<%= form_for(current_user.uq_relations.find_by_question_id(question.id), html: {method: :put}, remote: true) do |f| %>
  <div><%= f.hidden_field :yaynay, value: false %></div>
  <%= f.submit "", type: :image, src: "/assets/images/arrows/down.gif", class: "imgButton" %>
<% end %>