<div data-role="content">
  <ul data-role="listview">
    <% questions.each do |question| %>
      <li>
      <%= link_to question do %>
        <div class="mobile_rating">
          <%= question.up_cache.to_i - question.down_cache.to_i %>
        </div>
        <div class="mobile_title">
          <%= question.title %>
        </div>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
