<div data-role="content">
  <ul data-role="listview">
    <% questions.each do |question| %>
      <li>
      <%= link_to question do %>
        <div class="question_rating">
          <%= question.up_cache.to_i - question.down_cache.to_i %>
        </div>
        <h2><%= question.title %></h2>
        <h3>Asked by: <%= question.official.name %></h3>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
