<div class="totals">
	<strong>
		<%= (UqRelation.where("yaynay = ? AND question_id = ?", true, question.id).count - 
			UqRelation.where("yaynay = ? AND question_id = ?", false, question.id).count) %>
	</strong>
</div>