<li>
  <span class="title"><%= link_to poll.title, poll %></span>
  <span class="body"><%= poll.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(poll.created_at) %> ago.
  </span>
</li>