<label>Set Type:</label>
<input id="set_type" /></br></br>
<div id="options_div">
  <label>Options:</label>
  <div id="select0" class="optionSelect">
    <input id="option0" class="options" />
    <div id="addOption" class="btn btn-primary" onclick="addOpt()">+</div>
    <div id="removeOption" class="btn btn-danger" onclick="removeOpt()">-</div>
  </div>
</div>
<div id="submit_pos" class="btn btn-primary" onclick="createPOS()">Save</div>
<div id="discard_pos" class="btn btn-danger" onclick="discardPOS()">Discard</div>
