@import "bootstrap";

.m_block {
  padding: 10px;
}


#currentVotes {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}


.nav_logo {
  font-size: 20px;
  color: white;
  float: left;
  padding-top: 5px;
  width: 350px;
}
.nav_logo a{
  padding-left: 10px;
}

.nav_logo_text {
  bottom: 12px;
  position: absolute;
  padding-left: 75px;
}
.nav_logo_image {
  float: left;
}
.nav_logo_image img{
  height: 30px;
}

.nav_logo a {
  color: white;
}

.nav {
  margin-top: 5px;
  font-size: 15px;
}

body {
  padding-top: 100px;
  background: rgb(226, 248, 255);
}

#u_picture {
  position: fixed;
  bottom: 0px;
  width: 250px;
  right: 0px;
  z-index: -40;
}

.actions {
  font-size: 20px;
  line-height: 30px;
}

#comment_content {
  width: 400px;
  height: 80px;
}

#new_comment {
}

#comments {
}

.comment {
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 15px 1px;
  box-shadow: 3px 3px 15px 1px;
  width: 420px;
}

.new_comment {
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 15px 1px;
  box-shadow: 3px 3px 15px 1px;
  width: 420px;

}
