@import "bootstrap";

.nav_logo {
  font-size: 20px;
  color: white;
  width: 300px;
  float: left;
  padding-top: 10px;
}

.nav_logo a {
  color: white;
}

body {
  padding-top: 100px;
}

#u_picture {
  position: fixed;
  bottom: -21px;
  width: 250px;
  right: 0px;
  z-index: -40;
}

.actions {
  font-size: 20px;
  line-height: 30px;
}
