// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_name {
  font-size: 15px;
  line-height: 20px;
}

.user_block {
  width: 200px;
  height: 240px;
  float: left;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow:  3px 3px 15px 1px ;
  box-shadow:  3px 3px 15px 1px ;
}

.user_block:hover {
  background: rgb(194, 193, 193);
}

.user_list {
  padding-top: 20px;
  display: inline-block;
}
