// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user_block {
  width: 200px;
  height: 260px;
  float: left;
  padding: 20px;
}

.user_list {
  padding-top: 20px;
  display: inline-block;
}
